In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
nombre_archivo = 'data/BASE DATOS  JULIO - 2013 - ESCLEROSIS MULTIPLE V3.xlsx'

nombre_hoja = 'List todos los pacientes-Hoja1'

# Lee el archivo .xls y carga la hoja especificada en un DataFrame
data = pd.read_excel(nombre_archivo, sheet_name=nombre_hoja)

data

,Unnamed: 0,EDAD,SEXO,Unnamed: 3,TRATAMIENTO,Unnamed: 5,CENTRO PILOTO,INICIO TTO.
0,NOMBRE DEL PACIENTE,EDAD,SEXO,CEDULA,TRATAMIENTO,AMPYRA,CIUDAD,INICIO TTO.
1,NaN,45,M,NaN,REBIF,NaN,CARACAS,2002-09-01 00:00:00
2,NaN,43,F,NaN,BETAFERON,NaN,PTO. LA CRUZ,2001-06-01 00:00:00
3,NaN,39,F,NaN,BETAFERON,NaN,GUACARA,2010-08-01 00:00:00
4,NaN,35,F,NaN,AVONEX,NaN,CARACAS,2004-07-01 00:00:00
...,...,...,...,...,...,...,...,...
2094,NaN,NaN,NaN,NaN,OCREVUS,NaN,NaN,NaN
2095,NaN,NaN,NaN,NaN,OCREVUS,NaN,NaN,NaN
2096,NaN,NaN,NaN,NaN,OCREVUS,NaN,NaN,NaN
2097,NaN,NaN,NaN,NaN,OCREVUS,NaN,NaN,NaN
2098,NaN,NaN,NaN,NaN,OCREVUS,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099 entries, 0 to 2098
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1 non-null      object
 1   EDAD           2085 non-null   object
 2   SEXO           2049 non-null   object
 3   Unnamed: 3     1 non-null      object
 4   TRATAMIENTO    2095 non-null   object
 5   Unnamed: 5     2 non-null      object
 6   CENTRO PILOTO  2087 non-null   object
 7   INICIO TTO.    2081 non-null   object
dtypes: object(8)
memory usage: 131.3+ KB

In [5]:
data.rename(columns={'CENTRO PILOTO': 'CIUDAD'}, inplace=True)

In [6]:
data = data.drop(columns=['Unnamed: 0','Unnamed: 3','Unnamed: 5'])

In [7]:
data = data.drop(data.index[0])
data = data.reset_index(drop=True)

### Chequeamos los valores nulos

In [8]:
data.isnull().sum()

EDAD           14
SEXO           50
TRATAMIENTO     4
CIUDAD         12
INICIO TTO.    18
dtype: int64

In [9]:
data[data['CIUDAD'].isnull()].index

Int64Index([475, 1351, 1829, 1977, 1984, 2091, 2092, 2093, 2094, 2095, 2096,
            2097],
           dtype='int64')

In [10]:
data.loc[1984]

EDAD           NaN
SEXO           NaN
TRATAMIENTO    NaN
CIUDAD         NaN
INICIO TTO.    NaN
Name: 1984, dtype: object

In [11]:
data['CIUDAD'].unique()

array(['CARACAS', 'PTO. LA CRUZ', 'GUACARA', 'VALENCIA', 'MARACAY',
       'MARACAIBO', 'BARINAS', 'CORO', 'LA VICTORIA', 'BARQUISIMETO',
       'PORLAMAR', 'SAN CRISTOBAL', 'PTO.ORDAZ', 'BARCELONA', 'CUMANA',
       'SAN FELIPE', 'TUREN', 'CIUDAD BOLIVAR', 'MERIDA', 'MATURIN',
       'CHARALLAVE', 'CABIMAS', 'PTO. FIJO', 'SAN FERNANDO', 'TRUJILLO',
       'OCUMARE DEL TUY', 'SAN JUAN', 'UPATA', 'EL TIGRE', 'LOS TEQUES',
       'CARUPANO', 'ANACO', 'LA GUAIRA', 'VALERA', 'SAN JUAN ',
       'ACARIGUA', 'SAN ANTONIO', 'PTO. ORDAZ', 'TUCUPITA', 'EL VIGIA',
       'YAGUA', nan, 'PTO- FIJO', 'SAN CARLOS', 'EL TIGRITO', 'GUARENAS',
       'PUNTO FIJO', 'HDL', 'TURMERO', 'CANTAURA', 'GUANARE', 'PTO FIJO',
       'VALLE DE LA PASCUA', 'CAGUA', 'LOS GUAYOS', 'CALABOZO',
       'STA. TERESA DEL TUY', 'TINAQUILLO', 'MARCAY', 'GUATIRE',
       'PTO.LA CRUZ', 'SAN FELIX', 'PAMPATAR', 'CIACARA DEL ORINOCO',
       'TINACO', 'SAN JUAN DE LOS MORROS'], dtype=object)

In [12]:
data['CIUDAD'] = data['CIUDAD'].replace({'PTO. LA CRUZ': 'PUERTO LA CRUZ', 'PTO.LA CRUZ': 'PUERTO LA CRUZ',
                                        'PTO FIJO': 'PUNTO FIJO','PTO. FIJO': 'PUNTO FIJO',
                                        'PTO- FIJO': 'PUNTO FIJO', 'CIACARA DEL ORINOCO': 'CAUCARA DEL ORINOCO', 
                                        'PTO.ORDAZ':'PUERTO ORDAZ','PTO. ORDAZ' : 'PUERTO ORDAZ',
                                        'SAN JUAN ': 'SAN JUAN', 'MARCAY':'MARACAY'})

In [25]:
data['CIUDAD'].value_counts()

CARACAS                   910
MARACAIBO                 256
VALENCIA                  141
BARQUISIMETO              111
MARACAY                   107
SAN CRISTOBAL              72
PUERTO ORDAZ               57
PUERTO LA CRUZ             54
PUNTO FIJO                 47
MERIDA                     40
MATURIN                    37
CIUDAD BOLIVAR             29
PORLAMAR                   27
LOS TEQUES                 23
CORO                       17
SAN JUAN                   14
LA VICTORIA                13
TRUJILLO                   12
BARINAS                    10
BARCELONA                  10
ACARIGUA                    8
SAN FERNANDO                7
CUMANA                      7
LA GUAIRA                   7
SAN FELIPE                  6
EL TIGRE                    6
GUANARE                     4
VALERA                      4
SAN CARLOS                  3
CAGUA                       3
GUARENAS                    3
CANTAURA                    2
EL TIGRITO                  2
TURMERO                     2
STA. TERESA DEL TUY         2
EL VIGIA                    2
TUCUPITA                    2
SAN ANTONIO                 2
ANACO                       2
CARUPANO                    2
GUACARA                     2
OCUMARE DEL TUY             2
CABIMAS                     2
TUREN                       1
TINACO                      1
CAUCARA DEL ORINOCO         1
PAMPATAR                    1
SAN FELIX                   1
GUATIRE                     1
TINAQUILLO                  1
CHARALLAVE                  1
CALABOZO                    1
LOS GUAYOS                  1
YAGUA                       1
VALLE DE LA PASCUA          1
UPATA                       1
HDL                         1
SAN JUAN DE LOS MORROS      1
Name: CIUDAD, dtype: int64

In [14]:
data['TRATAMIENTO'].unique()

array(['REBIF', 'BETAFERON', 'AVONEX', 'TYSABRI', 'GILENYA', 'COPAXONE',
       'NINGUNO', 'TECFIDERA', 'AUBAGIO', nan, 'AVONEX ', 'AZATIOPRINA',
       'NO EM', 'LEMTRADA', 'OCREVUS'], dtype=object)

In [15]:
data['TRATAMIENTO'] = data['TRATAMIENTO'].replace({'AVONEX ': 'AVONEX'})

In [16]:
data['TRATAMIENTO'].unique()

array(['REBIF', 'BETAFERON', 'AVONEX', 'TYSABRI', 'GILENYA', 'COPAXONE',
       'NINGUNO', 'TECFIDERA', 'AUBAGIO', nan, 'AZATIOPRINA', 'NO EM',
       'LEMTRADA', 'OCREVUS'], dtype=object)

In [27]:
data['TRATAMIENTO'].value_counts()

REBIF          679
AVONEX         579
BETAFERON      446
COPAXONE       206
TYSABRI        137
GILENYA         23
NINGUNO          9
LEMTRADA         5
OCREVUS          5
TECFIDERA        2
AUBAGIO          1
AZATIOPRINA      1
NO EM            1
Name: TRATAMIENTO, dtype: int64

In [18]:
data = data.dropna(subset=['TRATAMIENTO'])

In [19]:
data.isnull().sum()

EDAD           13
SEXO           48
TRATAMIENTO     0
CIUDAD         10
INICIO TTO.    16
dtype: int64

In [20]:
data['PRECIO TRATAMIENTO USD'] = 0

In [21]:
precios_tratamientos = {'AVONEX': 18000,
                        'BETAFERON': 26000,
                        'REBIF': 24000,
                        'COPAXONE': 14000,
                        'TYSABRI': 36000,
                        'GILENYA': 32000,
                        'LEMTRADA': 80000,
                        'OCREVUS': 24000
                        }

In [22]:
data['PRECIO TTO ($)'] = data['TRATAMIENTO'].map(precios_tratamientos)

In [23]:
data

,EDAD,SEXO,TRATAMIENTO,CIUDAD,INICIO TTO.,PRECIO TTO ($)
0,45,M,REBIF,CARACAS,2002-09-01 00:00:00,24000.0
1,43,F,BETAFERON,PUERTO LA CRUZ,2001-06-01 00:00:00,26000.0
2,39,F,BETAFERON,GUACARA,2010-08-01 00:00:00,26000.0
3,35,F,AVONEX,CARACAS,2004-07-01 00:00:00,18000.0
4,46,M,TYSABRI,VALENCIA,2007-04-01 00:00:00,36000.0
...,...,...,...,...,...,...
2093,NaN,NaN,OCREVUS,NaN,NaN,24000.0
2094,NaN,NaN,OCREVUS,NaN,NaN,24000.0
2095,NaN,NaN,OCREVUS,NaN,NaN,24000.0
2096,NaN,NaN,OCREVUS,NaN,NaN,24000.0
2097,NaN,NaN,OCREVUS,NaN,NaN,24000.0