In [2]:
#pip install mysql-connector-python
import mysql.connector as conn
import pandas as pd
from sqlalchemy import create_engine

## Hacemos la conexión al servidor para crear una nueva base de datos vacía que se llamará 'movies'

In [3]:
conexion = conn.connect(host='localhost',  
                       user='root',        
                       passwd='password', 
                       )

cursor = conexion.cursor()
cursor.execute('create database total_obras;')

## Mediante el siguiente código, creamos la string de conexión a nuestra nueva base de datos 'movies'

In [4]:
str_conn = 'mysql+pymysql://root:password@localhost:3306/total_obras'

cursor = create_engine(str_conn)

## Procedemos a crear las tablas en nuestra base de datos, lo primero que hacemos es cargar nuestro archivo en un dataframe¶

In [5]:
data = pd.read_excel('/Users/christelllameda/ironhack/Proyecto-final/data/obras_inconclusas.xlsx')

## Luego utilizamos el comando .to_sql para crear una tabla en nuestra base de datos que contendrá todas las columnas y filas cargadas en el dataframe, asignamos el nombre de la tabla, en este caso la tabla es la de 'obras_inconclusas'

In [6]:
data.to_sql(name='obras_inconclusas',      # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='append',  # reemplaza la tabla si existe
            index=False
           )

61

## Chequeamos las tablas creadas en nuestra base de datos

In [7]:
cursor.execute('show tables;').fetchall()

[('obras_inconclusas',)]